.icon-gear,
.icon-heart,
.icon-pin {
  display: inline-block;
  background: url('../img/feature-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.icon-gear {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}

.icon-heart {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}

.icon-pin {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}