.ability > .container {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.feature-wrapper {
  display: inline-block;
  width: 340px;
  padding: 10px 0;
  text-align: center;
  background: url('../img/circle-wrap.png') center bottom no-repeat;
  background-size: contain;
}

.feature {
  position: relative;
  display: inline-block;
  width: 320px;

  > .circle-border {
    width: 100%;
    padding-top: 100%;
    background-color: fade(#fff, 90%);
    border-radius: 50%;
  }
  
  > .circle {
    position: absolute;
    top: @circle-border;
    left: @circle-border;
    right: @circle-border;
    bottom: @circle-border;
    padding-top: ~'calc(100% - @{circle-border} * 2)';
    background-color: grey;
    border-radius: 50%;
  }
  
  > .circle-light {
    background-color: @brand-color-light;
  }
  
  > .circle-medium {
    background-color: @brand-color-medium;
  }
  
  > .circle-rich {
    background-color: @brand-color-rich;
  }

  > .content {
    position: absolute;
    top: @circle-border;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 1;

    [class^='icon'] {
      margin: 30px 0 22px;
    }

    h2 {
      margin: 0;
      font: 12px/1 sans-serif;
      text-transform: uppercase;

      em {
        display: block;
        margin-top: 13px;
        font: normal 18px/1 sans-serif;
      }
    }

    p {
      margin: 22px 50px;
      font: 12px/1.5 sans-serif;
    }
  }
}

