.ability > .container-fluid {
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.white-bg {
  float: left;
  width: 12.19421793921423%;
  height: 340px;
  background: url('../img/blank.png') top left repeat-x;
}

.square {
  position: relative;
  float: left;
  width: 25.20385470719051%;
  padding-top: 25.20385470719051%;
  text-align: center;
  background: url('../img/circle-wrap.png') center bottom no-repeat;
  background-size: contain;
}

.square-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.941176470588235%;
}

.feature {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;


  > .circle-border {
    width: 100%;
    padding-top: 100%;
    background-color: fade(#fff, 90%);
    border-radius: 50%;
  }
  
  > .circle {
    position: absolute;
    top: @circle-border;
    left: @circle-border;
    right: @circle-border;
    bottom: @circle-border;
    padding-top: ~'calc(100% - @{circle-border} * 2)';
    background-color: grey;
    border-radius: 50%;
  }
  
  > .circle-light {
    background-color: @brand-color-light;
  }
  
  > .circle-medium {
    background-color: @brand-color-medium;
  }
  
  > .circle-rich {
    background-color: @brand-color-rich;
  }

  > .content {
    position: absolute;
    top: @circle-border;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 1;

    [class^='icon'] {
      margin: 30px 0 22px;
    }

    h2 {
      margin: 0;
      font: 12px/1 sans-serif;
      text-transform: uppercase;

      em {
        display: block;
        margin-top: 13px;
        font: normal 18px/1 sans-serif;
      }
    }

    p {
      margin: 22px 50px;
      font: 12px/1.5 sans-serif;
    }
  }
}

.contact {
  background-color: fade(#fff, 90%);
  text-align: center;
}

.brand-text {
  margin: 20px auto 10px;
  width: 600px;
}

.adress {
  text-transform: uppercase;
}

.contact-data {
  &:extend(.adress);
  font-size: 0;
  line-height: 0;

  .tel,
  .link,
  .e-mail {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    font: 12px/1 sans-serif;

    &:not(:last-child):after {
      position: absolute;
      right: -1px;
      content: '|';
    }
  }
}